@model Person

<h2>@Model.name</h2>
<p>@Model.birth_year</p>

<p><a href="/Home/PersonSearch">Person Search</a></p>
<p><a href="/Home/StarshipSearch">Starship Search</a></p>
<p><a href="/Home/PlanetSearch">Planet Search</a></p>
